<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b96fb0d7-7b7e-481d-87c1-21541f9c9566/resourceGroups/juan/providers/Microsoft.Web/sites/productoprueba</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://productoprueba.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>4fe5f56c-3c0c-47f1-9b79-b55b4ec7f16b</ProjectGuid>
    <PublishUrl>https://productoprueba.scm.azurewebsites.net/</PublishUrl>
    <UserName>$productoprueba</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>